{% set form_fields_settings = attribute(item.settings, index_package) %}
<h4>Configuration de {{ product.name }}</h4>
<div>
    <div class="config">

        {% for field in settings.form_fields %}
            <small>{{ field.label }}
                : {% if attribute(attribute(form_fields_settings, index), field.name) is defined %}{{ attribute(attribute(form_fields_settings, index), field.name) }}{% endif %}</small>
            <br>
        {% endfor %}
    </div>
</div>